/* General styling for body and container */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f5f5f5;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
    overflow: hidden;

}
.edit-form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.edit-form input, .edit-form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.read-more-btn {
    background: none;
    color: blue;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}
thead {
    background-color: #6200ea;
    color: white;

}

thead th {
    padding: 12px;
    font-size: 18px;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody td {
    padding: 12px;
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

img {
    border-radius: 8px;
    max-width: 100px;
    height: auto;
}

a {
    color: #6200ea;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #d32f2f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b71c1c;
}
